.g-link {
  text-decoration: underline;
  color: var(--color-white) !important; ;
  font-weight: 400;
  &:hover {
    color: var( --spotify-green) !important;
  }
}

.g-icon {
  display: block;
  cursor: pointer;
  height: 2.4rem;
  width: 2.4rem;
}

.g-hover-grey {
  &:hover {
    cursor: pointer !important;
    border-radius: var(--border-radius-1) !important;
    background-color: rgba(var(--color-whiteRGB), 0.1) !important;
  }
}

// TODO: abstract in a component?
// List Section
.g-chip-section {
  display: flex;
  align-items: start;
  width: 100%;
  gap: 1rem;
}

.g-chip-btn {
  background-color: var(--temporal-grey);
  border-radius: var(--border-radius-2);
  padding: 0.5rem 1rem;
  font-weight: 400;
  font-size: 1.2rem;
  opacity: 0.8;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}

.g-chip-btn_active{
  opacity: 1;
  background-color: var(--color-white);
  color: var(--color-black);
}


.g-page-container {
  display: block;
  width: 100%;
  height: 100%;
  padding: 2rem 1rem 2rem 2rem;
  background: var(--color-2);
  border-radius: var(--border-radius-1);
}
