@mixin mobile {
  @media (max-width: 425px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 426px) and (max-width: 768px) {
    @content;
  }
}

@mixin pc {
  @media (min-width: 769px) {
    @content;
  }
}


// USE EXAMPLE
//@use 'responsive' as *;
//@include mobile {
//  color: red;
//}