:root {
  --spotify-green: #1DB954;
  --spotify-green-hightlight: #41fe83;

  --color-2: #161616;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-whiteRGB: 255, 255, 255;
  --color-5: #181818;

  --font-size-1: 1rem;
  --font-size-2: 1.2rem;
  --font-size-3: 1.8rem;
  --shadow-1: rgb(0 0 0 / 35%) 0px 8px 24px;
  --shadow-2: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  --border-radius-1: 0.4rem;
  --border-radius-2: 2rem;
  --border-radius-3: 3rem;

  --font-Spotify-Mix: 'Spotify Mix';
  --animation-1: 200ms;

  --background-base: #121212;

  --essential-base: #FFFFFF;
  --essential-subdued: #7c7c7c
  --essential-grey: #282828;

  --hover-grey: #4d4d4d85;
}