<header>
  <div class="logo-container">
    <shared-svg-logo routerLink="/home" />
  </div>

  <div class="search-container">
    <shared-svg-home routerLink="/home" class="home-icon"/>
    <div class="search-bar">
      <shared-svg-search routerLink="/history" class="home-search"/>
      <div class="flex just-between w-100">
        <input class="search-input" type="text" placeholder="Qué quieres reproducir?" />
        <shared-svg-explore class="explore-icon" />
      </div>
    </div>
  </div>

  <div class="user-container">
    <!--<button  class="signUp-btn">Sign Up</button>-->
    <button (click)="logOut()" class="signUp-btn">Log Out</button>
    @if(isAuth){
      <button (click)="toggleDropdown()" routerLink="/#" class="account-btn">D</button>
      @if (isOpenDropdown) {<div [ngTemplateOutlet]="ViewContainerRef"></div>}
    } @else {
      <button mat-flat-button routerLink="/auth/login" class="logIn-btn">
        Log In
      </button>
    }
  </div>
</header>




<!-- TEMPLATES -->
<ng-template #ViewContainerRef>
  <div class="account-dropDown">
    @for (item of acountdropDown; track $index) {
      <button class="dropDown-item g-hover-grey">
        <span class="dropDown-text">{{item}}</span>
        <mat-icon>ios_share</mat-icon>
      </button>
    }
  </div>
</ng-template>
