<header>
  <div class="logo-container">
    <app-svg-logo routerLink="/home" />
  </div>

  <div class="search-container">
    <mat-icon routerLink="/home" class="home-icon">home</mat-icon>
    <div class="search-bar">
      <mat-icon routerLink="/history" class="home-search">search</mat-icon>
      <div class="flex just-between w-100">
        <input class="search-input" type="text" placeholder="Qué quieres reproducir?" />
        <shared-svg-explore class="explore-icon" />
      </div>
    </div>
  </div>

  <div class="user-container">
    <!--<button  class="signUp-btn">Sign Up</button>-->
    <button (click)="logOut()" class="signUp-btn">Log Out</button>
    @if(isAuth){
    <button routerLink="/#" class="account-btn">D</button>
    } @else {
    <button mat-flat-button routerLink="/auth/login" class="logIn-btn">
      Log In
    </button>
    }
  </div>
</header>
