<header>
  <div class="logo-container">
    <shared-svg-logo routerLink="/home" />
  </div>

  <div class="search-container">
    <shared-svg-home routerLink="/home" class="home-icon" />
    <div class="search-bar">
      <shared-svg-search routerLink="/history" class="home-search" />
      <div class="flex just-between w-100">
        <input
          #searchInput
          class="search-input"
          type="text"
          placeholder="Qué quieres reproducir?"
          (keyup.enter)="goToSearchPage(searchInput.value)"
          />
        <shared-svg-explore class="explore-icon" />
      </div>
    </div>
  </div>

  <div class="user-container">
    <!--<button  class="signUp-btn">Sign Up</button>-->
    @if(isAuth){
    <button
      #accountButton
      routerLink="/#"
      class="account-btn"
      (mousedown)="toggleDropdown()"
    >
      D
    </button>
    @if (isOpenDropdown) {
      <ng-container [ngTemplateOutlet]="AccountDropDownRef"/>
    } } @else {
    <button mat-flat-button routerLink="/auth/login" class="logIn-btn">
      Log In
    </button>
    }
  </div>
</header>

<!-- TEMPLATES -->



<ng-template #AccountDropDownRef>
  <div class="account-dropDown">
    @for (item of acountdropDown; track $index) {
    <button (mousedown)="item.command()" class="dropDown-item g-hover-grey">
      <span class="dropDown-text">{{ item.label }}</span>
      <mat-icon>ios_share</mat-icon>
    </button>
    }
  </div>
</ng-template>
