.media-player {
  background-color: var(--color-black);
  width: 100%;
  height: 100%;
  z-index: 30;
  box-shadow: 0px -15px 15px 7px #0000002e;

  .media-player--wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 0;

    .player-center {
      display: flex;
      align-content: center;
      align-items: center;
    }

    .artist {
      width: 33%;

      .artist-inside {
        padding-left: 1rem;
        display: flex;
        gap: 0.5rem;

        .track-like {
          display: flex;
          flex-direction: column;
          align-self: center;
          padding: 0 0.25rem;
        }

        .track-info {
          display: flex;
          flex-direction: column;
          align-self: center;
        }

        .track-title {
          margin: 0;
          font-weight: 400;
          font-size: 1.5rem;
        }

        .sub-title {
          margin: 0;
          font-weight: 300;
          font-size: 1rem;
          opacity: 0.7;
        }

        .cover {
          width: 5.6rem;
          height: 5.6rem;
          object-fit: cover;
          margin-right: 1rem;
          border-radius: 0.5rem;
        }
      }
    }

    .player-controls {
      width: 33%;
      position: relative;

      .player-controls-inside {
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;
        width: 100%;
        position: relative;

        .buttons-media {
          display: flex;
          justify-content: center;
          align-self: center;
          gap: 0.7rem;
          margin-bottom: 0.8rem;

          .play-btn {
            opacity: 1;
            transition: transform 0.3s ease;
            &:hover {
              transform: scale(1.05);

              &.disabled {
                transform: scale(1);
              }
            }

            mat-icon {
              font-size: 3.8rem;
              width: 100%;
              height: 100%;
              color: var(--color-white);
            }
          }
        }

        .media-linetime {
          display: flex;
          justify-content: space-between;
          //align-items: center;
          font-size: 70%;
          padding: 0;

          .time {
            padding: 1rem;
          }

          .time-progress {
            background-color: var(--color-2);
            height: 2px;
            width: 100%;
            left: 0;
            position: absolute;
            cursor: pointer;

            &-live {
              background-color: var(--color-white);
              width: 0%;
              height: 2px;
              transition: all ease var(--animation-1);
              position: absolute;
            }
          }
        }
      }
    }

    .player-audio {
      width: 33%;
      .player-audio-inside {
        display: flex;
        justify-content: flex-end;
        width: 100%;
      }
    }
  }
}

.size32 {
  height: 3.2rem;
  width: 3.2rem;
  padding: 0.8rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
  color: var(--color-white);
  opacity: 0.7;
  font-size: 1.65rem;

  &:hover {
    opacity: 1;
  }
  ::ng-deep svg:focus-within {
    color: var(--spotify-green-hightlight);
    opacity: 1;
    outline: none;
  }
}


.disabled {
  color: var(--disabled-color) !important;
  cursor: not-allowed;
  opacity: 0.7;

  &:hover {
    transform: scale(1);
    opacity: 0.7;
    color: var(--disabled-color) !important;
  }
}