<!-- TODO: Change material icons to Native Icons -->
<div class="media-player">
  <div class="media-player--wrapper">
    <!--Zona del artista-->
    <div class="artist player-center">
      <ng-container *ngTemplateOutlet="artistZone" />
    </div>
    <!--Zona del reproductor-->
    <div class="player-controls player-center">
      <ng-container *ngTemplateOutlet="playerZone" />
    </div>
    <!--Zona del controles adicionales-->
    <div class="player-audio player-center">
      <ng-container *ngTemplateOutlet="playerAudio" />
    </div>
  </div>
</div>

<!-- ZONE TEMPLATES -->
 <!-- Artist -->
<ng-template #artistZone>
  @if (multimediaService.trackInfo$ | async) {
    <div class="artist-inside">
      <img appImgBroken [src]="currentTrack?.cover" alt="cover" class="cover" />
      <div class="track-info">
        <h3 class="track-title">{{ currentTrack?.name }}</h3>
        <h5 class="track-title sub-title">{{ currentTrack?.album }}</h5>
      </div>
      <div class="track-like">
        <button class="btn-like">
          <i class="uil uil-heart"></i>
        </button>
      </div>
    </div>
  }
</ng-template>

<!-- Player Zone -->
<ng-template #playerZone>
  <div class="player-controls-inside">
    <div class="buttons-media">
      <!-- Check if there is a track -->
      @if (multimediaService.trackInfo$ | async ) {
        <!--There IS a track, controls enabled
        <!-- Example: trackInfo = { name: "Song", ... } -->
        <shared-svg-random class="g-icon btn size32" />
        <shared-svg-next [revert]="true" class="g-icon btn size32" />
        <button (click)="multimediaService.tooglePlayer()" class="play-btn btn">
          @switch(state){
            @case('pause'){
              <mat-icon>play_circle</mat-icon>
            }
            @case('playing') {
              <mat-icon>pause_circle</mat-icon>
            }
            @default {
              <mat-icon>play_circle</mat-icon>
            }
          }
        </button>
        <shared-svg-next class="g-icon btn size32" />
        <shared-svg-retry class="g-icon btn size32" />
      } @else {
        <!-- DISABLED MODE -->
        <shared-svg-random class="g-icon btn size32 disabled" />
        <shared-svg-next [revert]="true" class="g-icon btn size32 disabled" />
        <button class="play-btn btn disabled" disabled>
          <mat-icon class="disabled" >play_circle</mat-icon>
        </button>
        <shared-svg-next class="g-icon btn size32 disabled" />
        <shared-svg-retry class="g-icon btn size32 disabled" />
      }
    </div>

    <!-- MatSlider -->
    <!--{{progressBarValue}}
    <mat-slider min="0" max="100" step="0" class="custom-slider">
      <input (click)="handlePosition($event)" matSliderThumb [(ngModel)]="progressBarValue" #slider>
    </mat-slider>-->

    <div class="media-linetime">
      <span class="time">{{ multimediaService.timeElapsed$ | async }}</span>
      <div>
        <span
          #progressBar
          (click)="handlePosition($event)"
          class="time-progress"
        >
          <span
            class="time-progress-live"
            [style.width]="(multimediaService.playerPercentage$ | async) + '%'"
          >
          </span>
        </span>
      </div>
      <span class="time">{{ multimediaService.timeRemaining$ | async }}</span>
    </div>
  </div>
</ng-template>


<!-- Player Audio -->
<ng-template #playerAudio>
  <div class="player-audio-inside">
    <!--<shared-svg-lyrics matTooltip="Vista sonando" class="g-icon btn size32" />-->
    <shared-svg-lyrics matTooltip="Letra" class="g-icon btn size32" />
    <shared-svg-queue matTooltip="Cola" class="g-icon btn size32" />
    <shared-svg-connect-device
      matTooltip="Conectar a un dispositivo"
      class="g-icon btn size32"
    />
    <shared-svg-volume matTooltip="Silenciar" class="g-icon btn size32" />
    <shared-svg-mini-player
      matTooltip="Abrir el Minireproductor"
      class="g-icon btn size32"
    />
    <shared-svg-full-screen
      matTooltip="Pantalla completa"
      class="g-icon btn size32"
    />
  </div>
</ng-template>
