<div class="side-bar">
  <!-- Default Options -->

  <!-- Head Section -->
  <section class="head-section">
    <div class="top-section">
      <div class="flex flex-row items-center">
        <shared-svg-library class="g-icon" />
        <span>Tu Biblioteca</span>
      </div>

      <div class="flex flex-row">
        <mat-icon>add</mat-icon>
        <mat-icon>arrow_forward</mat-icon>
      </div>
    </div>
  </section>

  <!-- List Section -->
  <section class="list-section">
    <span class="list-btn">Listas</span>
  </section>


  <!-- Search Section -->
  <section class="search-section">
    <shared-svg-search class="search-icon"/>
    <div class="recents-lists">
      <span>Recientes</span>
      <mat-icon>format_list_bulleted</mat-icon>
    </div>
  </section>

  <!-- Recents Section -->
  <section class="recents-list-section">
    <div class="playList-card g-hover-grey ">
      <div class="playList-image">
        <shared-svg-folder class="g-icon"/>
      </div>

      <div class="playList-info">
        <span class="title">Nueva Carpeta</span>
        <span class="subTitle">1 Lista</span>
      </div>

      <div class="playList-icon">
        <mat-icon>play_arrow</mat-icon>
      </div>
    </div>
  </section>
</div>
