.card-player {
  overflow: hidden;
  position: relative;
  //background-color: var(--color-2); #ffffff1a
  background-color:#ffffff1a;

  height: 5rem;
  border-radius: var(--border-radius-1);
  display: flex;
  cursor: pointer;
  transition: all ease var(--animation-1);
  justify-content: space-between;

  &:hover {
    background-color: #4d4d4d;

    .player-buttons {
      opacity: 1;
      transform: translateY(0);
    }
  }

  // SMALL MODE
  &.player-small {
    background-color: #4d4d4d;
    justify-content: flex-start;


    &:hover {
      background-color: #717171;
    }

    img.cover {
      width: 5rem;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: var(--border-radius-1);
      border-bottom-left-radius: var(--border-radius-1);
    }

    div.song-info {
      font-size: 1.3rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      align-content: center;
      padding: 0 0 0 .75rem;
      text-overflow: ellipsis;
    }

    div.player-buttons {
      position: absolute;
      right: 0;
      top: 0.8rem;
      transform: scale(0.8);
    }
  }



  // BIG MODE
  &.player-big {
    position: relative;
    flex-direction: column;
    height: auto;
    padding: 1rem;
    width: 17rem;

    img.cover {
      width: 150px;
      height: 150px;
      border-radius: var(--border-radius-1);

    }

    div.song-info {
      padding: .5rem 0;
      flex-direction: column;
      align-self: flex-start;
      align-items: flex-start;

      .sub-title-track {
        font-size: 80%;
        opacity: .7;
      }
    }

    .player-buttons {
      position: absolute;
      right: 1rem;
      top: 12rem;
    }
  }
}


// BUTTONS
.player-buttons {
  opacity: 0;
  transform: translateY(1rem);
  transition: opacity 0.3s ease, transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  transition: all ease var(--animation-1);


  .play-btn {
    color: var(--spotify-green);
    background-color: black;
    border-radius: 2rem;
    height: 3.2rem;
    width: 3.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px 2px #000000;

    mat-icon{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size:4rem;
      height: auto;
      width: auto;
      transform: scale(1.2);
    }
  }
}



// SKELETON

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

// BASE COMPARTIDA
%skeleton-base {
  border-radius: var(--border-radius-1);
  background: linear-gradient(
    90deg,
    #3a3a3a 25%,
    #4d4d4d 50%,
    #3a3a3a 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

// SMALL
.small-skeleton-card {
  @extend %skeleton-base;
  height: 5rem;
  width: 100%;
}

// BIG
.big-skeleton-card {
  @extend %skeleton-base;
  width: 17rem;
  height: 12rem;
  margin: 0 auto;
}
