<!-- Diseño del mode (small)-->
@if ( mode === CardPlayerMode.Small) {
  @if (isLoading) {
    <div class="small-skeleton-card"></div>
  }
  @else {
    <div class="card-player player-small" (click)="playSong(track)">
      <img appImgBroken [src]="track.cover" [alt]="track.name" class="cover" />
      <div class="song-info">
        {{ track.name }}
      </div>
      <ng-container *ngTemplateOutlet="playerButtons" />
    </div>
  }
}

<!-- Diseño del mode (small)-->
@if (mode=== CardPlayerMode.Small_1 ) {
  @if (isLoading) {
    <div class="small-skeleton-card"></div>
  }
  @else {
    <div class="card-player player-small" (click)="playSong(track)">
      <img appImgBroken [src]="track.cover" [alt]="track.name" class="cover" />
      <div class="song-info">
        {{ track.name }}
      </div>
      <ng-container *ngTemplateOutlet="playerButtons" />
    </div>
  }
}

<!-- Diseño del mode (big)-->
@if (mode===  CardPlayerMode.Big) {
  @if(isLoading){
    <div class="big-skeleton-card"></div>
  }
  @else {
    <div class="card-player player-big" (click)="playSong(track)">
      <img appImgBroken [src]="track.cover" alt="" class="cover" />
      <div class="song-info">
        <div class="title-track">{{ track.name }}</div>
        <div class="sub-title-track">{{ track.name }}</div>
      </div>
      <ng-container *ngTemplateOutlet="playerButtons" />
    </div>
  }
}

<!-- TEMPLATE -->
<ng-template #playerButtons>
  <div class="player-buttons">
    <!-- Pause Current Song -->
    @if (isPlaying && track._id === trackInfo?._id) {
    <button (click)="tooglePlay()" class="play-btn">
      <mat-icon>pause_circle</mat-icon>
    </button>

    <!-- Play Current Song -->
    } @else if (!isPlaying && track._id === trackInfo?._id) {
    <button (click)="tooglePlay()" class="play-btn">
      <mat-icon>play_circle</mat-icon>
    </button>

    <!-- Default Play Button -->
    } @else {
    <button class="play-btn">
      <mat-icon>play_circle</mat-icon>
    </button>
    }
  </div>
</ng-template>
