@use 'responsive' as *;

.history-page {
  .main-container {
    gap: 3rem;
    padding: 1rem;
    display: flex;
    .artist-container{
      display: flex;
      flex-direction: column;
    }

    .tracks-container{
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    @include tablet {
      display: flex;
      flex-direction: column;
    }
  }
}

.title-section{
  font-size: 2.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  //&:hover {
  //  text-decoration: underline;
  //}
}