<div class="tracks-page">

  <section class="g-chip-section">
    <span class="g-chip-btn">Todo</span>
    <span class="g-chip-btn">Música</span>
    <span class="g-chip-btn">Pódcast</span>
    <span class="g-chip-btn">Audiolibros</span>
  </section>

  <!-- TOP Section -->
  <app-section-generic
    [dataTracks]="tracksTrending"
    [title]="'La mejor música del mundo'"
    [mode]="'small'"
  />
  <!-- Bottom Section -->
  <app-section-generic
    [dataTracks]="tracksRandom"
    [title]="'Lo mejor de la Electronica'"
    [mode]="'big'"
  />


  @for (item of [0,0,0]; track $index) {
    <app-section-generic
    [dataTracks]="tracksRandom"
    [title]="'Lo mejor de la Electronica'"
    [mode]="'big'"
  />
  }
</div>
