<div class="tracks-page g-page-container">

  <section class="g-chip-section">
    <span class="g-chip-btn g-chip-btn_active">Todo</span>
    <span class="g-chip-btn">Música</span>
    <span class="g-chip-btn">Pódcast</span>
    <span class="g-chip-btn">Audiolibros</span>
  </section>

  <!-- PRUEBA -->
  <shared-section-generic
    [dataTracks]="tracksPrueba"
    [title]="'Pruebas'"
    [mode]="CardPlayerMode.Small"
    [isLoading]="isLoading"
  />

  <!-- TOP Section -->
  <!--<shared-section-generic
    [dataTracks]="tracksPrueba"
    [title]="'Pruebas'"
    [mode]="CardPlayerMode.Small_1"
    [isLoading]="isLoading"
  />-->

  @for (item of [0,1,2,3,4]; track $index) {
    <shared-section-generic
    [dataTracks]="tracksPrueba"
    [title]="'La mejor música del mundo'"
    [mode]="CardPlayerMode.Big"
    [isLoading]="isLoading"
  />
  }

  <shared-footer/>
</div>
