//TODO: usar atributos globales para el play button

:host {
  display: block;
}

.artist-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #232323;
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.15);
  padding: 2.5rem 2.5rem 2.5rem 2rem; // left more for the image
  gap: 2.5rem;
  min-width: 30rem;
  align-items: flex-start;


  .artist-avatar {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    object-fit: cover;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.30);
    flex-shrink: 0;
  }


  .artist-details{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;

    .artist-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .artist-name {
        font-size: 2.8rem;
        font-weight: 700;
        color: #fff;
        margin-bottom: 0.4rem;
      }
      .artist-sub {
        color: #b3b3b3;
        font-size: 1.3rem;
        span {
          color: #fff;
          font-weight: 500;
          margin-left: 0.3rem;
        }
      }
    }

    .play-btn {
      width: 5rem;
      height: 5rem;
      background: #1ed760;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 2.5rem;
      box-shadow: 0 4px 24px 0 rgba(0,0,0,0.30);
      cursor: pointer;
      transition: filter 0.15s;
      &:hover {
        filter: brightness(0.95);
      }
      .icon-play {
        border: none;
        background: none;
        color: #111;
        font-size: 2rem;
        margin-left: 0.2rem;
      }
    }
  }

}
