:host {
  width: 100%;
  height: 100%;
}

#login-page {
  background-color: rgb(18, 18, 18);
  width: 100%;
  height: 100%;
  padding: 3.2rem;
  display: flex;
  flex-content: flex-start;
  flex-direction: column;
  box-sizing: border-box;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .header-logo {
      width: 3rem;
      height: 3rem;
      cursor: pointer;
    }

    .header-text {
      font-size: 3rem;
      margin-bottom: 3rem;
      text-align: center;
    }
  }

  .advisor-error {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: red;
    padding: 1rem;
    margin-bottom: 2rem;

    .advisor-error-text {
      font-size: 1.2rem;
      font-weight: 500;
      margin-left: 2rem;
    }
  }

  .advisor {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    margin-bottom: 2rem;

    .advisor-icon {
      width: 3rem;
      height: 3rem;
    }
    .advisor-text {
      font-size: 1.2rem;
      font-weight: 500;
      margin-left: 2rem;
    }
  }

  .login-social-zone {
    display: flex;
    flex-direction: column;

    .social-btn {
      display: flex;
      align-items: center;
      background-color: transparent;
      border: 0.1rem solid var(--essential-base);
      border-radius: var(--border-radius-3);
      padding: 1rem;
      color: white;
      margin-bottom: 1rem;
      cursor: pointer;

      i {
        font-size: 2rem;
        margin-right: 1rem;
        margin-left: 1.5rem;
      }

      span {
        font-size: 1.5rem;
        font-weight: bold;
        flex: 1;
      }

      &:hover {
        border-color: var(--essential-base);
      }
    }
  }

  .separator {
    margin: 2rem 0;
    border-bottom: 0.08rem solid rgba(129, 129, 129, 0.5);
  }

  .auth-form {
    .form-group {
      display: flex;
      flex-direction: column;

      label {
        font-size: 1.3rem;
        font-weight: bold;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
      }

      input {
        background-color: transparent;
        border: 0.1rem solid var(--spotify-green);
        border-radius: 0.1rem;
        padding: 1rem;

        color: white;
        font-size: 1.3rem;
      }
    }

    .login-btn {
      margin-top: 2rem;
      width: 100%;
      background-color: var(--spotify-green);
      height: 4rem;
      font-size: 2rem;
      font-weight: bold;
      border-radius: var(--border-radius-2);
      border: 0rem;
      cursor: pointer;
      color: black;

      &:hover {
        background-color: var(--spotify-green);
      }
    }

    .forgot-passwd {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      text-align: center;
      color: var(--color-white);
      width: 100%;

      a {
        font-size: 1.2rem;
      }
    }

    .sign-up {
      padding-top: 2rem;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      font-size: 1.2rem;

      span {
        font-size: inherit;
        text-align: center;
        color: var(--color-white);
        color: rgb(179, 179, 179);
      }
      a {
        margin-left: 0.5rem;
        border-bottom: 0;
        font-size: inherit;
      }
    }
  }

  footer {
    background-color: var(--background-base);
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 7rem;

    display: flex;
    justify-content: center;
    //align-items: center;
    font-size: 1rem;
    color: var(--essential-subdued);

    p {
      font-size: 1.1rem;
      text-align: center;
      padding: 3.2rem;
    }
    a {
      font-size: inherit;
    }
  }
}

@media (min-width: 768px) {
  #login-page {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    background: linear-gradient(
      rgba(255, 255, 255, 0.15) 0%,
      rgb(0, 0, 0) 100%
    );

    .auth-wrapper {
      background-color: var(--background-base);
      min-width: 70rem;
      max-width: 70rem;
      border-radius: 1rem;
      padding: 4rem 10rem;
      height: fit-content;
    }

    .login-social-zone {
      padding: 0 8rem;
    }

    .auth-form {
      padding: 0 8rem;
      .sign-up {
        display: flex;
        flex-direction: row;
      }
    }
    footer {
      position: absolute;
    }
  }
}
