<section id="login-page">

  <div class="auth-wrapper">
    <div class="header">
      <div routerLink="/" class="header-logo">
        <shared-svg-logo />
      </div>
      <h3 class="header-text">Log in to Spotify</h3>
    </div>

  <!-- Advisor -->
  @if (isErrorSession) {
      <div class="advisor-error">
        <i class="advisor-error-icon">
          <span class="material-symbols-outlined">info</span>
        </i>
        <p class="advisor-error-text">
          {{ errorMessage }}
        </p>
      </div>
    }
    <!--@else{
      <div class="advisor">
        <i class="advisor-icon">
          <span class="material-symbols-outlined">info</span>
        </i>
        <p class="advisor-text">
          You do not have a Spotify account connected to your Google Account. If
          you have a Spotify account, please try log in with your Spotify email or
          username. If you do not have a Spotify account, please sign up.
        </p>
      </div>
    }-->

    <!-- TODO: use SVG instead icons -->
    <!-- Social Login -->
    <div class="login-social-zone">
      <button class="social-btn">
        <i>
          <shared-svg-google/>
        </i>
        <span>Continue with Google</span>
      </button>

      <button class="social-btn btn-fb">
        <i>
          <shared-svg-facebook/>
        </i>
        <span>Continue with Facebook</span>
      </button>

      <button class="social-btn btn-apple">
        <i>
          <shared-svg-apple/>
        </i>
        <span>Continuar con Apple</span>
      </button>
    </div>

    <div class="separator"></div>

    <!-- Form Login -->
    <form
      (ngSubmit)="sendLogin()"
      [formGroup]="formLogin"
      class="auth-form"
    >
      <div class="form-group">
        <label for="email">Email or Username</label>
        <input
          formControlName="email"
          type="text"
          placeholder="Dirección de correo o nombre de usuario"
          class="form-input"
        />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          formControlName="password"
          type="password"
          placeholder="Contraseña"
          class="form-input"
        />
      </div>

      <div class="form-action">
        <button mat-flat-button class="login-btn social-btn">Log In</button>
      </div>

      <div class="forgot-passwd">
        <a class="g-link" href="">Forgot your password?</a>
      </div>

      <div class="sign-up">
        <span>Don't have an account?</span>
        <a class="g-link" href="">
          Sign up for Spotify
        </a>
      </div>

    </form>
  </div>

  <footer>
    <p>This site is protected by reCAPTCHA and the Google
      <a class="g-link" href="https://policies.google.com/privacy">Privacy Policy</a>
        and
      <a class="g-link" href="https://policies.google.com/terms">Terms of Service</a>
       apply.
    </p>
  </footer>

</section>

