:host {
  display: grid;
  grid-template-rows: 5% 85% 10%;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  position: relative;


  app-header {
    background-color: red;
  }

  .container {
    padding-bottom: 10px;
    display: grid;
    //grid-template-columns: 20% 80%;
    grid-template-columns: 1fr 4fr;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    gap: 10px;

    .sidebar-wrapper {
      height: 100%;
    }

    .router-wrapper {
      height: 100%;
      overflow: hidden;

    }
  }

  app-media-player {
    width: 100%;
    background-color: red;
  }
}
