:host {
  margin-bottom: 2rem;

  .player-zone {

    .player-list {
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 1.15rem;

      &.card-small {
        display: grid;
        grid-template-columns: repeat(3, 1fr); // <-- 3 columnas iguales

        //flex-wrap: wrap;
      }

      &.card-big {
        display: flex;
        overflow: auto;

        //&::-webkit-scrollbar {
        //  display: none;        // Chrome, Safari, Edge moderno
        //}
      }

    }
  }
}
