:host {
  margin-bottom: 3rem;

  section{
    margin-bottom: 3rem;

    .title{
      margin: 1rem 0;
      font-size: 2rem;
    }

    .player-zone {
      .player-list {
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 1.15rem;

        &.card-small {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
          gap: 1.15rem;
          margin-right: 2.5rem;

          @media (min-width: 0) {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
          }
          @media (min-width: 900px) { 
            grid-template-columns: repeat(4, minmax(200px, 1fr));
          }
        }

        &.card-big {
          display: flex;
          overflow: auto;

          //&::-webkit-scrollbar {
          //  display: none;        // Chrome, Safari, Edge moderno
          //}
        }

      }
    }
  }
}
