<section>
  <h1 class="title">{{title}}</h1>

    <div class="player-zone">
      <ul class="player-list" [ngClass]="{
        'card-small':mode === 'small',
        'card-big':mode === 'big'
      }">
        @if (isLoading) {
          @for (item of [0,0,0,0,0,0,0,0]; track $index;) {
            <li>
              <app-card-player [isLoading]="true" [mode]="mode"/>
            </li>
          }
        }
        @else {
          @for (track of dataTracks; track track) {
            <li>
              <app-card-player [isLoading]="false" [track]="track" [mode]="mode"/>
            </li>
          }
        }
      </ul>
  </div>
</section>