.side-bar {
  height: 100%;

  padding: 0.5rem 1rem;
  background: var(--background-base);
  background-color: rgba(var(--essential-grey), 0.9);

  background: linear-gradient(
    90deg,
    rgba(23, 23, 26, 1) 44%,
    rgba(24, 24, 24, 1)
  );
  border-radius: var(--border-radius-1);
  padding: 1.5rem;

  section {
    margin-bottom: 2rem;
  }

  // Head Section
  .head-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    .top-section {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;

      shared-svg-library {
        margin-right: 1rem;
      }

      span {
        font-size: 1.5rem;
        font-weight: 600;
        color: rgba(var(--essential-grey), 0.9);
      }
    }
  }

  // List Section | Moved to global file
  //.list-section {
  //  display: flex;
  //  align-items: start;
  //  width: 100%;

  //  .list-btn {
  //    background-color: var(--temporal-grey);
  //    border-radius: var(--border-radius-2);
  //    padding: 0.5rem 1rem;
  //    font-weight: 400;
  //    font-size: 1.5rem;
  //  }
  //}

  //Search Section
  .search-section {
    display: flex;
    justify-content: space-between;

    .recents-lists {
      display: flex;
      align-items: center;
      span {
        margin-right: 0.5rem;
      }
    }
  }

  //Recents Section
  .recents-list-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;

    .playList-card {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      padding: 0.7rem;




      .playList-image{
        padding: 1.2rem;
        border-radius: 0.4rem;
        background-color: var(--temporal-grey);
      }

      .playList-info{
        margin-left: 1rem;
        flex: 1;
        display: flex;
        flex-direction: column;

        .title{
          font-size: 1.5rem;
          font-weight: 500;
          color: var(--color-white);
        }

        .subTitle{
          font-size: 1.2rem;
          font-weight: 400;
          color: var(--color-white);
        }
      }

      .playList-icon{
        mat-icon{
        }
      }
    }

  }
}
