@use './app/styles/mixins';
@use './assets/fonts/Spotify-Mix/styles.css';




:root {
  --color-1: #1DB954;
  --color-1-hightlight: #41fe83;

  --color-2: #161616;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-whiteRGB: 255, 255, 255;
  --color-5: #181818;

  --font-size-1: 1rem;
  --font-size-2: 1.2rem;
  --font-size-3: 1.8rem;
  --shadow-1: rgb(0 0 0 / 35%) 0px 8px 24px;
  --shadow-2: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  --border-radius-1: 1rem;
  --border-radius-2: 2rem;
  --border-radius-3: 3rem;

  --font-Spotify-Mix: 'Spotify Mix';
  --animation-1: 200ms;

  --background-base: #121212;
  --essential-base: #FFFFFF;
  --essential-subdued: #7c7c7c
  --essential-grey: #282828;
  --essential-grey-2: #1f1f1f;

  //TODO: change name var and color
  --temporal-grey: #4d4d4d
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-Spotify-Mix);
  letter-spacing: normal;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;

  background-color: var(--color-black);
  color: var(--color-white);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.g-link {
  text-decoration: underline;
  color: var(--color-white) !important; ;
  font-weight: 400;
  &:hover {
    color: var( --color-1) !important;
  }
}

.g-icon {
  display: block;
  cursor: pointer;
  height: 2.4rem;
  width: 2.4rem;
}


.g-hover-grey {
  &:hover {
    cursor: pointer !important;
    border-radius: var(--border-radius-1) !important;
    background-color: rgba(var(--color-whiteRGB), 0.1) !important;
  }
}
